.worksheet {
  font-size: 18px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}

.answer {
  color: green;
}

.printIcon {
  width: 30px;
}

@media print {
  .hiddenOnPrint {
    display: none;
  }
}